.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
}
.divrow {
  padding: 10px;
  margin: 10px;
  width: 200px;
  background: #fff8dc;
  text-align: center;
  animation: scrollanim linear;
  color: brown;
  height: 150px;
}
.search-result-borders {
  border: 0.12em solid burlywood;
  border-radius: 1em;
}
.divrow button,
.divrow a {
  background-color: brown;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5em;
}
