/* sidebar */

#body-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 400;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#btn-menu-toggle {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  z-index: 300;
  padding: 0 0.5em;
}

/*Menu*/

.real-menu {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 450;
  width: 300px;
  max-width: 80%;
  height: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease 0.2s all;
  background-color: rgb(68, 72, 87);
  color: #fff;
  overflow-y: auto;
}

/* sidebar for big screens */
@media (width > 992px) {
  .real-menu {
    display: block;
    position: inherit;
    width: 100%;
    max-width: revert;
    background-color: inherit;
    /* color: #000;   */
    box-shadow: none;
    max-width: 16em;
    min-width: 14em;
  }

  .real-menu ul {
    color: brown;
  }

  #btn-menu-toggle {
    display: none;
  }
}

.real-menu a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.real-menu li {
  list-style: none;
  padding: 1em 0;
  /* color: #fff; */
}

.real-menu .collapsible {
  /* background-color: #777; */
  /* color: white; */
  cursor: pointer;
  width: inherit;
  border: none;
  text-align: left;
  outline: none;
  /* padding: 1em; */
}

body {
  &.menu-open {
    #body-overlay {
      display: block;
    }
  }

  &.menu-open {
    .real-menu {
      left: 0;
    }
  }
}
