html {
  line-height: 1.5;
}

body {
  font-size: 16px;
  /* background: ; */
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: math;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 2em 0;
  background-color: burlywood;
}

header h2 {
  margin: 0 auto;
}

.hberger {
  display: block;
  width: 0.7em;
  height: 0.1em;
  margin: 0.2em;
  background: #000;
}

footer {
  padding: 1em;
  /* background: gray; */
}

hr {
  opacity: 0.4;
}

main {
  display: flex;
  flex-grow: 2;
  margin: 0 auto;
}

main .main-section {
  padding: 0.5em 1.4em;
  width: 46em;
  max-width: 46em;
  margin: 0 auto;
}
main .main-section h2 {
  text-align: center;
}
main .main-section ul {
  padding-left: 3em;
}
pre,
blockquote {
  background-color: cornsilk;
  padding: 1em;
  text-wrap: wrap;
}
blockquote {
  margin: 0;
}

/* Table for multiple columns  */
.tabular {
  display: flex;
  flex-wrap: wrap;
  background-color: cornsilk;
  padding: 1em;
  gap: 1em;
}

.tabular > div {
  min-width: 5em;
  text-align: center;
}

/* Table for 2 columns (based on %) */
.tab {
  /* background-color: cornsilk; */
}

.tab .column {
  float: left;
  /* background-color: cornsilk; */
}

.tab .left {
  width: 25%;
}

.tab .right {
  width: 75%;
}

/* Table based on flexbox  */
/* Container element */
.three-col-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Optional gap between columns */
}

/* Column elements */
.three-col {
  flex-basis: 30%; /* Adjust width of each column */
}

ul {
  padding: 0px;
}

img {
  width: 100%;
}

/* only for colors in sanskrit */

.colorbox {
  background-color: white;
  margin: 2em 0;
}

.color {
  width: 4em;
  height: 4em;
  border: 1px solid burlywood;
}

/* media queries  */


@media (max-width: 500px) {
  /* CSS that should be displayed if width is equal to or less than 500px goes here */
  pre {
    overflow-x: scroll;
  }
}
@media (width < 768px) {
  /* CSS that should be displayed if width is equal to or less than 500px goes here */
  header {
    padding: 1em 0;
  }
  header h2 {
    margin: 0 1em;
  }

  main {
    display: block;
    margin: inherit;
  }

  main .main-section {
    width: inherit;
  }

  main .main-section ul {
    padding-left: 1.5em;
  }
}

/* Optional: Make layout responsive */
@media (max-width: 200px) {
  .three-col {
    flex-basis: 100%; /* Stack columns on smaller screens */
  }
}
