body {
  font-size: 16px;
  background: linear-gradient(rgba(255, 138, 0, 0.2), #fff);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1em 0;
}

header h2 {
  margin: 0 auto;
}

.hberger {
  display: block;
  width: 0.7em;
  height: 0.1em;
  margin: 0.2em;
  background: #000;
}

footer {
  padding: 1em;
  background: gray;
}

main {
  display: flex;
  flex-grow: 2;
  margin: 0 auto;
}

main .main-section {
  padding: 0.5em 1em;
  width: 42em;
  max-width: 42em;
  margin: 0 auto;
}
pre,
blockquote {
  background-color: lightgray;
  padding: 1em;
  text-wrap: wrap;
  overflow-x: scroll;
}
blockquote {
  margin: 0;
}
@media (max-width: 500px) {
  /* CSS that should be displayed if width is equal to or less than 500px goes here */
  pre {
    overflow-x: scroll;
  }
}
@media (width < 768px) {
  /* CSS that should be displayed if width is equal to or less than 500px goes here */
  main {
    display: block;
  }

  main .main-section {
    width: inherit;
  }
}
ul {
  padding: 0px;
}
main li {
  margin-left: 1em; /* same as main */
}

img {
  width: 100%;
}
