<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
    <link
      href="{{{normalieCss}}}"
      rel="stylesheet"
    />
    {{#cssFiles}}
    <link rel="stylesheet" href="{{{.}}}" />
    {{/cssFiles}}
  </head>
  <body class="">
    <header>
      <div id="btn-menu-toggle">
        <span class="hberger"></span><span class="hberger"></span
        ><span class="hberger"></span>
      </div>
      <h2 class="site-header">{{{title}}}</h2>
    </header>
    <nav class="real-menu" role="navigation"></nav>
    <div id="body-overlay"></div>
    <main>      
      <section class="main-section"></section>
    </main>
    <footer>Akshay B</footer>
    {{#jsFiles}}
    <script src="{{{.}}}"></script>
    {{/jsFiles}}
  </body>
</html>
